services:
  waf-ssl:
    image: nginx:latest
    container_name: waf-ssl
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    networks:
      - public_net

networks:
  public_net:
    external: true
